
body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    background-color: #DCD9D4; 
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 63px;
  font-size: 15px;
  letter-spacing: 0.05rem;

  
}
.app-logo {
  margin-left: 60px;
  float: left;
  }

.result-container{
  margin-top: 10px;
  padding: 30px;
}

.datasearch {
  margin-top: 120px;
  margin-left: 60px;
  margin-right: auto;
}
.datasearch .searchbox {
  min-width: 400px;
  border-radius: 30px;
  padding: 5px 16px 5px 30px;
}

.search-range {
  display: flex;
  margin-top: 120px;
  margin-left: 90px;
  margin-right: 40px;
  transform: rotate(360deg);
}
span {
  margin:0 10px;
}

span:first-of-type{
  margin-left:0;
}

span:last-of-type{
  margin-right:0;
}
.result-data .result-image {
  background-size: cover;
  max-height: 200px;
}