
body{
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgb(197, 144, 119), rgb(72, 240, 139));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgb(140, 182, 224), rgb(162, 211, 181)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
    width: 100%;
    height: 73px;
    background: #383636;
    display: flex;
}

.app-logo {
  color: rgb(194, 103, 103);
  height: 60px;
  width: 50px;
  font-size:40px;
  margin-top: 20px;
  margin-left: 30px;
}

.result-container{
  margin-top: 10px;
  padding: 30px;
}

.search-container{
  margin-top: 14px;
  margin-left: 150px;
  width: 60%;
}

.search-bar {
  border: 2px solid #4aa3df;
  border-radius: 3px;
}
.dropdownlist-genres-list {
  border: 2px solid #4aa3df;
  margin-top: 27px;
  margin-right:60px;
  width: 40%;
}